/* ---------------------- */
/* Custom properties      */
/* ---------------------- */
:root {
    --clr-accent: #f55a5a;
    --ff-main: "Inter", sans-serif;
}
  
/* @media (prefers-color-scheme: light) {
    :root {
        --clr-card-bg: #fff;
        --clr-text-main: #2b283a;
        --clr-text-light: #fff;
        --clr-background-light: #fff8f8;
    }
}

/* Dark Mode */

/* @media (prefers-color-scheme: dark) {
    :root {
        --clr-card-bg: #2e2e2e;
        --clr-text-main: #ffffff;
        --clr-text-light: #fff;
        --clr-background-light: #2c2b2b;
    }
} */ 

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

html {
    margin: 0;
    padding: 0;
    font-family: var(--ff-main);
    background: var(--clr-background-light);
    box-sizing: border-box;
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

/* NAVBAR */

nav {
    background-color: var(--clr-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

nav * {
    padding: 2px;
}

nav > img {
    max-width: 24px;
}

nav > h4 {
    color: var(--clr-text-light);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.085px;
    margin-left: 2px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--clr-background-light);
-webkit-transition: 0.4s;
transition: 0.4s;
}

.slider:before {
position: absolute;
content: '';
height: 15px;
width: 15px;
left: 4px;
bottom: 4px;
background-color: var(--clr-accent);
-webkit-transition: 0.4s;
transition: 0.4s;
}

input:checked + .slider {
background-color: var(--clr-background-light);
}

input:checked + .slider:before {
-webkit-transform: translateX(11px);
-ms-transform: translateX(11px);
transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* ---------------------- */
/* Cards                  */
/* ---------------------- */

.cards-list {
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    background: var(--clr-background-light);
}

.card {
    display: flex;
    padding: 40px 40px;
    margin: 20px 0px;
    border-radius: 5px;
    background: var(--clr-card-bg);   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */

}

.card--image > img {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ---------------------- */
/* CSS for right side     */
/* of card with details   */
/* ---------------------- */

.card--text {
    padding: 12px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location--details {
    display: flex;
    align-items: center;
}

.location--tag {
    width: 14px;
    height: 20px;
    flex-shrink: 0;
}

.location {
    color: var(--clr-text-main);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.741px;
    padding-left: 5px;
}

.google-link {
    color: #918E9B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 12px;
}

.location--name {
    color: var(--clr-text-main);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px 0 20px 0 ;
}

.location--period {
    color: var(--clr-text-main);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.location--description {
    margin-top: 10px;
    color: var(--clr-text-main);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15.36px */
}

/* ---------------------- */
/* Spacer                 */
/* ---------------------- */

.spacer {
    width: 100%;
    height: 2px; /* Thickness of the black line */
    background-color: #F55A5A;
}

/* ---------------------- */
/* Footer                 */
/* ---------------------- */

footer {
    background: #F55A5A;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeef1;
}